<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style1.css')}}"
    />
</head>
<body>
    <button class="back-button" onclick="handleBackButtonClick()" style="position: absolute; top: 20px; left: 20px;">Back</button>
    <button class="mute-button" id="muteButton" style="align-items: center;" onclick="playClickSound()">Mute BGM</button>
    <audio id="myAudio" src="static/mp3/bgm.mp3" autoplay loop></audio>
    <div id="gameplay-3x3board" class="gameplay__3x3board">
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
        <div class="gameplay__card" onclick="playClickSound()"></div>
    </div>

    <script>
        var difficulty = "{{ difficulty }}";
    </script>
    <script src="/static/scripts/sfx.js"></script>
    <script src="/static/scripts/script.js"></script>

</body>
</html>
