<!DOCTYPE html>
<html>
<head>
  <title>Computer Mode</title>
  <link 
        rel="stylesheet" 
        href="{{url_for('static', filename='style1.css')}}"
        href="{{url_for('static', filename='style_box.css')}}"
    />
  <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap"
    rel="stylesheet"
  />  
<style>
  h1, h2 {text-align: center;}
</style>
</head>
<body>
  <form action="/customize" method="post">
    <audio id="myAudio" src="static/bgm.mp3" autoplay loop></audio>
    <img src="static/svg/logo.svg">
    <div class="game-start__choices">
      <h2 class="heading-xs">Select Size</h2>
      <div class="radio-container">
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="size" value="3" checked="">
            <span class="name">3x3</span>
          </label>
  
          <label class="radio">
            <input type="radio" name="size" value="4">
            <span class="name">4x4</span>
          </label>
          
          <label class="radio">
            <input type="radio" name="size" value="5">
            <span class="name">5x5</span>
          </label>
  
          <label class="radio">
            <input type="radio" name="size" value="6">
            <span class="name">6x6</span>
          </label>
        </div>
      </div>
    </div>


    <div class="game-start__choices">
      <h2 class="heading-xs">Select Level</h2>
      <div class="radio-container">
        <div class="radio-inputs">
          <label class="radio">
            <input type="radio" name="difficulty" value="easy" checked="">
            <span class="name">Easy</span>
          </label>
          
          <label class="radio">
            <input type="radio" name="difficulty" value="hard">
            <span class="name">Hard</span>
          </label>
        </div>
      </div>
    </div>

    <div class="game-start__buttons">
      <button type="submit" name="START" class="btn btn--yellow">START</button>
    </div>


  </form>
  <div class="center">
  <p>{{ error }}</p>
  </div>
</body>
</html>
