{% extends 'base.html' %} {% block content %}
<style>
.gfg{
    font-size: 25px;
    color: black;
    font-style: italic;
}
</style>
<button class="back-button" onclick="window.history.back()" style="position: absolute; top: 20px; left: 20px;">Back</button>
<div class="container">
    <div class="row">    
        <h2>User Profile</h2>
    </div>
    <br>
    <div class="row">    
        Name : <strong class="gfg">  {{session.name}} </strong>| <a href="{{ url_for('logout') }}"> Logout</a>
    </div>
    <br><br>    
    <form action = "/custom" method="post" class="buttons">
      <div class="join">
        <input class="type" type="text" placeholder="Room Code" name="code" value="{{code}}" />
        <br>
        <br>
        <button class="btn btn--yellow-small" type="submit" name="join">Join a Room</button>
        <br>
      </div>
      <button class="btn btn--blue-small" type="submit" name="create" class="create-btn">Create a Room</button>
      {% if error %}
      <ul>
        <li>{{error}}</li>
      </ul>
      {% endif %}
    </form>
</div>

{% endblock %}  