{% extends 'base.html' %} {% block content %}
<button class="back-button" onclick="window.history.back()" style="position: absolute; top: 20px; left: 20px;">Back</button>
<h1>Leaderboard</h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for username, rankpoint in leaderboard_data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ username }}</td>
            <td>{{ rankpoint }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}  