{% extends 'base.html' %} {% block content %}
<style>
    .hi{
        color: #f2b137;
    }
    .type{
        display: block;
        margin-top: -15px;
        border: 1px solid black;
    }
    .label{
        margin-left: -170px;
        font-weight: bold;
    }
    
</style>
<button class="back-button" onclick="handleBackButtonClick()" style="position: absolute; top: 20px; left: 20px;">Back</button>
<div class="container">
    <h2 class="hi" > Welcome to Tic Tac Toe PvP </h2>
    <form action="{{ url_for('login') }}" method="post" class = 'buttons'>
        {% if message is defined and message %}
            <div class="alert alert-warning">  <strong>  {{ message }} !!! </strong></div>
        {% endif %}
        <br>
        <div class="form-group">
             <input class="type" type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name" value = "{{name}}" onclick="playClickSound()">
        </div>
        <div class="form-group">
        <input class="type" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd" onclick="playClickSound()">
        </div>    
        <button class="btn btn--yellow" type="submit" class="btn btn-primary" onclick="playClickSound()">Login</button>
        <p class="bottom" style="color:#f2b137">Not registered yet ? <a class="bottom" href = "{{url_for('register')}}" style="color:rgb(163, 165, 163)" onclick="playClickSound()"> Register here.</a></p>
    </form>
</div>      
{% endblock %}  