{% extends 'base.html' %} {% block content %}
<form action="/multi" method = "post">
    <img src="static/svg/logo.svg" style = "margin-bottom: 20px">
    <button class="btn btn--yellow" type ="submit" name ="mode" value="Normal">Normal</button>
    <br>
    <button class="btn btn--blue" type ="submit" name ="mode" value="Competitive">Competitive</button>
    <br>
    <button class="btn btn--silver" type="submit" name = "mode" value="Custom">Custom</button>
    <br>
    <button class="btn btn--green" type="submit" name = "mode" value="LeaderBoard">LeaderBoard</button>
</form>
    <h1>Player: {{userName}}</h1>
    <h1>Your points: {{player_point}}</h1>
    <h1>Rank: #{{player_rank}}</h1>

{% endblock %}  