{% extends 'base.html' %} {% block content %}

<button class="back-button" onclick="handleBackButtonClick()" style="position: absolute; top: 20px; left: 20px;">Back</button>
<div class="container">
    <h2 class="hi" style="color:#f2b137"> Welcome to Register  </h2>
    <form action="{{ url_for('register') }}" method="post" class = 'buttons'>
        {% if message is defined and message %}
            <div class="alert alert-warning">  <strong>  {{ message }} ???? </strong></div>
        {% endif %}
        <br>
        <div class="form-group">
             <input class="type" type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name" onclick="playClickSound()">
        </div>
        <div class="form-group">
        <input class="type" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd" onclick="playClickSound()">
        </div>    
        <button class="btn btn--yellow" type="submit" class="btn btn-primary" onclick="playClickSound()">Register</button>
        <p class="bottom" style="color:#f2b137">Already have an account?  <a class="bottom" href="{{url_for('login')}}" style="color:rgb(163, 165, 163)"> Login here</a></p>
    </form>
</div> 
{% endblock %}         