<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style1.css')}}"
    />
</head>
<body>
    <div id="gameplay-6x6board" class="gameplay__6x6board">
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
        <div class="gameplay__card"></div>
    </div>
    <script>
        var difficulty = "{{ difficulty }}";
    </script>
    <script src="/static/script.js"></script>
</body>
</html>