<!DOCTYPE html>
<html>
<head>
  <title>Computer Mode</title>
  <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{url_for('static', filename='style_box.css')}}"
    />
<style>
  h1, h2 {text-align: center;}
</style>
</head>
<body>
  <h1>Computer Mode</h1>
  <h2>Select Size</h2>
  <form action="/customize" method="post">
    <div class="radio-container">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="size" value="3" checked="">
          <span class="name">3x3</span>
        </label>

        <label class="radio">
          <input type="radio" name="size" value="4">
          <span class="name">4x4</span>
        </label>
        
        <label class="radio">
          <input type="radio" name="size" value="5">
          <span class="name">5x5</span>
        </label>

        <label class="radio">
          <input type="radio" name="size" value="6">
          <span class="name">6x6</span>
        </label>
      </div>
    </div>

    <h2>Select Level</h2>
    <div class="radio-container">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="difficulty" value="easy" checked="">
          <span class="name">Easy</span>
        </label>
        
        <label class="radio">
          <input type="radio" name="difficulty" value="hard">
          <span class="name">Hard</span>
        </label>
      </div>
    </div>

    <div class="radio-container">
      <button type="submit" name="START" style="margin-top: 15px;">START</button>
    </div>

    <p style="text-align: center;">{{ error }}</p>

  </form>
</body>
</html>
