<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe Menu</title>
    <link rel="stylesheet" type="text/css" href="style_box.css">
<style>
    h1, h2 {text-align: center}
</style>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <h2>Select Game Mode</h2>
    <div class="radio-container">
        <div class="radio-inputs">
            <label class="radio">
                <input type="radio" name="menu" value="Computer" checked="">
                <span class="name">Computer</span>
            </label>

            <label class="radio">
                <input type="radio" name="menu" value="Friends">
                <span class="name">Friends</span>
            </label>
        </div>

    </div>
    
</body>
</html>