<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe Menu</title>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{url_for('static', filename='style_box.css')}}"
    />
    <style>
        h1, h2 {text-align: center}
    </style>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <h2>Select Game Mode</h2>
    <form action="/mode" method="post">
        <div class="radio-container">
            <div class="radio-inputs">
                <label class="radio">
                    <input type="submit" name="mode" value="Computer" checked="">
                    <span class="name">Computer</span>
                </label>

                <label class="radio">
                    <input type="submit" name="mode" value="Friend">
                    <span class="name">Friend</span>
                </label>
            </div>

        </div>
    </form>
</body>
</html>