<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe Menu</title>
    <link 
        rel="stylesheet" 
        href="{{url_for('static', filename='style1.css')}}"
    />
</head>
<body>  
        <header>TIC TAC TOE</header>   
        <form style="align-items: center;" action="/mode" method="post">
        <section id="game-start" class="game-start container d-block">
			<div class="game-start__buttons">
				<button name="mode" value="Computer" class="btn btn--yellow">Computer Mode</button>
				<button id="vs-player" class="btn btn--blue">Friend Mode</button>
			</div>
		</section>
    </form>
</body>
</html>