<!DOCTYPE html>
<html>
<head>
    <title>Friend mode</title>
    <link rel="stylesheet" type="text/css" href="style_box.css">
<style>
    h1, h2 {text-align: center}
</style>
</head>
<body>
    <h1>Friend Mode</h1>
    <div class="radio-container">
        <div class="radio-inputs">
            <label class="radio">
                <input type="radio" name="choose" value="Create" checked="">
                <span class="name">Create</span>
            </label>

            <label class="radio">
                <input type="radio" name="choose" value="Join">
                <span class="name">Join</span>
            </label>
        </div>

    </div>
    
    <h2>Select Size</h2>
    <div class="radio-container">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="size" value="3x3" checked="">
          <span class="name">3x3</span>
        </label>
  
        <label class="radio">
          <input type="radio" name="size" value="4x4">
          <span class="name">4x4</span>
        </label>
        
        <label class="radio">
          <input type="radio" name="size" value="5x5">
          <span class="name">5x5</span>
        </label>
  
        <label class="radio">
          <input type="radio" name="size" value="6x6">
          <span class="name">6x6</span>
        </label>
      </div>
    </div>

    <h2>Select Shape</h2>
    <div class="radio-container">
      <div class="radio-inputs">
        <label class="radio">
          <input type="radio" name="shape" value="X" checked="">
          <span class="name">X</span>
        </label>
  
        <label class="radio">
          <input type="radio" name="shape" value="O">
          <span class="name">O</span>
        </label>
      </div>
    </div>
</body>
</html>