<!DOCTYPE html>
<html>
<head>
    <title>Friend mode</title>
    <link rel="stylesheet" href="style1.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap"
    rel="stylesheet"
    />
</head>
<body>
    <form action="/home" method="post">
            <div class="Input">
                <input class="Input-text" type="text" placeholder="Room Code" name="code" value="{{code}}" />
                <label for="input" class="Input-label">Room Code</label>
            </div>
            
            <div class="game-start__buttons">
                <button type="submit" name="JOIN" class="btn btn--yellow">JOIN</button>
            </div>
        <p style="text-align: center;">{{ error }}</p> 
    </form>
</body>
</html>
