<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends Menu</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Friend mode</h1>
  <main>
    <section class="create-join">
      <button id="create-button">Create Room</button>
      <button id="join-button">Join Room</button>
    </section>
    <section class="select-options">
      <div class="select-mode">
        <label for="mode-select">Select size</label>
        <select id="mode-select">
          <option value="3x3">3x3</option>
          <option value="4x4">4x4</option>
          <option value="5x5">5x5</option>
          <option value="6x6">6x6</option>
        </select>
      </div>
      <div class="select-shape">
        <label for="select-shape">Select shape</label>
        <select id="player-count">
          <option value="X">X</option>
          <option value="O">O</option>
        </select>
      </div>
    </section>
  </main>
  <button id="create">Create</button>
  <script src="script.js"></script>
</body>
</html>
